@import url('https://fonts.googleapis.com/css?family=Muli:400,600,900');

body {
  font-family: 'Muli', sans-serif;
  background: url("bookshelfbg.jpg" );
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  background-color: white;
}

.catalog {
  width: 30%;
  padding: 12px;
  margin: 12px 2px;
  float: left;
}

.seriesTitle {
  font-weight: 600;
  font-size: 18px;
}

.sery {
  width: 60%;
  margin: 12px 2px;
  padding: 12px;
  float: left;
  min-height: 70vh;
  border-left: 2px solid #2c4959;
}

.fa-check, .fa-asterisk {
  width: 2em;
  cursor: pointer;
}
.bookTitle {
  font-weight: 600;
  font-size: 18px;
  margin-right: .5em;
}

.addFormP {
  margin-left: 1.25em;
  margin-top: 3em;
}

.addFormHead {
  cursor: pointer;
  color: #777;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

header {
  background: #2c4959;
  padding: 20px 105px 15px 35px;
  position: relative;
}
 
#login-buttons {
  display: inline-block;
  float: right;
  color: #bcd;
  font-size: 1em;
}

#login-buttons a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-weight: 900;
  color: #bcd;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
form {
  margin: 10px 20px;
  position: relative;
}
 
.new-series input {
  box-sizing: border-box;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid lightgray;
  width: 100%;
  margin: 6px 0px;
  font-size: 1em;
}
 
.new-series input:focus{
  outline: 0;
}
 
.new-book input {
  box-sizing: border-box;
  padding: 5px 10px;
  background: transparent;
  border: 1px solid lightgray;
  width: 100%;
  margin: 6px 0px;
  font-size: 1em;
}
 
.new-book input:focus{
  outline: 0;
}
 
ul {
  margin: 0;
  padding: 0;
  background: white;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
}
 
li .text {
  margin-left: 10px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-series input {
    padding-bottom: 5px;
  }
  .new-book input {
    padding-bottom: 5px;
  }
}